/*
#top {
    border: 1px solid #000;
    background-color: #EEE;
}
#left {
    border: 1px solid #000;
    height: 600px;
}
#container {
    border: 1px solid #000;
    background-color: #ffe;

}
#right {
    border: 1px solid #000;
    height: 600px;
}
*/
a {
    margin: 5px;
}
#title {
    text-align: center;

}
